@tailwind base;
@tailwind components;
@tailwind utilities;

.imagen{object-fit: cover;
    z-index: -2;}
    .customStyle {
        color: red;
        font-size: 30px;
        text-align: center;
      }    

h1{@media (max-width: 470px) {
    font-size: 30px;
 }
    font-size: 50px;
    text-align: center;
    color: red;
    margin-top: 10px;
} 
